nav
  position: absolute
  z-index: 52
  width: 100%
  ul.nav
    margin-top: 10px
    line-height: 50px
    text-align: center
    li
      display: inline-block
      padding-top: 10px
      a
        padding: 10px 15px
        color: white
        &:hover,
        &:focus
          background: transparent
          text-decoration: none

      &.logo
        position: relative
        padding-top: 0
        .green
          color: $green-base
        a
          font-size: 50px
          padding:
            bottom: 0
            top: 0
          font-weight: 600
        small
          position: absolute
          white-space: nowrap
          transform: translateX(-135%) translateY(70%)
          color: white
        @include media-breakpoint-down(sm)
          display: none;
