$gray-base:     #000
$gray-itsounds: #090909
$gray-story:    #0c0c0c
$gray-contact:  #0b0b0b
$green-base:    #16a085
$red-base:      #f35050
$blue-base:     #60c8f7

$gray-dark:     lighten($gray-base, 20%)  // #333333
$gray-light:    lighten($gray-base, 30%)  // #4d4d4d
$gray-lighter:  lighten($gray-base, 60%)  // #999999
$gray-exlight:  lighten($gray-light, 60%) // #e6e6e6
$gray-soft:     lighten($gray-light, 65%) // #f2f2f2

$brand-primary: #edc924


$navbar-default-link-color: #474747
$nav-link-hover-bg: #fff

$input-height-base: 50px

$line-height-base: 1.5

$border-radius-base:        0
$border-radius-large:       $border-radius-base
$border-radius-small:       $border-radius-base

$btn-border-radius-base:    0
$font-family-base:      "Helvetica Neue", Helvetica, Arial, sans-serif
$headings-font-family:  $font-family-base
$headings-font-weight:  300

$title-size-base: 45px
$headings-color:  $gray-dark

$font-size-base: 15px

$font-size-h1: floor(($title-size-base * 1.2)) !default
$font-size-h2: floor(($title-size-base * 1)) !default
$font-size-h3: ceil(($title-size-base * 0.7)) !default
$font-size-h4: ceil(($title-size-base * 0.6)) !default
$font-size-h5: ceil(($title-size-base * 0.4)) !default
$font-size-h6: ceil(($title-size-base * 0.4)) !default

$grid-gutter-width: 30px
$screen-lg: 992px
$container-large-desktop: (940px + $grid-gutter-width)

$booked-color: #ffa952
$confirmed-color: #bfbfbf
